  <header class="page-header">
    <h1>Thank you for your order #<%= @order.email %>. Your order #<%= @order.id %> has been completed.</h1>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <tbody>
        <% @order_total = 0 %>
        <% @order.line_items.each do |item| %>
      </tbody>
      <tfoot>
        <tr>
          <td> <%= item.product.name %></td>
          <td> price: <%= item.product.price %></td>
          <td> quantity: <%= item.product.quantity %></td>
          <th colspan="4">
          </th>
          <th>
            <%= @order_total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
        <% end %>
</section>